.container {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    margin: 10px 0 30px;
    padding: 0 15px;
}

#remember input[type="checkbox"] {
    accent-color: var(--accent-main);
    cursor: pointer;
}

#toggle-password {
    pointer-events: all !important;
    cursor: pointer !important;
    transition: color 0.3s ease !important;
    user-select: none;
}

#toggle-password:hover {
    color: var(--accent-main) !important;
}
