

.container {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    margin: 10px 0 30px;
    padding: 0 15px;
}

#remember input[type="checkbox"] {
    accent-color: var(--accent-main);
    cursor: pointer;
}
